[submodule "server/third_party/grpc"]
	path = server/third_party/grpc
	url = git@github.com:grpc/grpc.git
[submodule "server/third_party/eigen"]
	path = server/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
